.comment-section {
    background-color: lightgray;
    padding: 10px;
}

.container {
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.side {
    display: inline-block;
    margin-right: 50px;
    width: 20%;
}

.message {
    display: inline-block;
    width: 70%;
}

input[type="text"] {
    background: transparent;
    border: none;
    font-size: 20px;
}