.signUp-container
{
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;

    width: 40%;
    height: 1000%;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;

}